<h1>User profile</h1>
<p>Name: <%= @user.first_name%> <%= @user.last_name  %></p>
<p>Email: <%= @user.email %></p>
<p>Location: <%= @user.location  %>, <%= @user.state  %></p>
<p><a href="/users/<%= @user.id %>">Edit</a></p>

