<div class="container">
	<h1><%= @event.name  %></h1>

	<p>Host: <b><%= @event.user.first_name %> <%= @event.user.last_name  %></b></p>
	<p>Date: <b><%= date_for_display(@event.date)  %></b></p>
	<p>Location: <b><%= @event.location %> <%= @event.state  %></b></p>

</div>