<div class="container">
	<div class="row">
	<!-- EVENT DETAILS -->
		<div class="col-md-6 col-xs-12">
			<h3>Event: <b><%= @event.name %></b></h3>

			<p>Host: <b><%= @event.user.first_name %> <%= @event.user.last_name  %></b></p>
			<p>Date: <b><%= date_for_display(@event.date)  %></b></p>
			<p>Location: <b><%= @event.location %> <%= @event.state  %></b></p>
			<p>Users are joining: <b><%= @event.users.count  %></b></p>
			<p><a href="/events">Back to Events list</a></p>
			
			<br>
			<h4>List of users attending the event</h4>
			<div class="table-responsive">
			<table class="table">
				<tr>
				<th>Name</th>
				<th>Location</th>
				<th>State</th>
				</tr>
				
				<% @event.users.each do |user| %>
				
				<tr>
				<td><%= user.first_name %> <%= user.last_name  %></td>
				<td><%= user.location %></td>
				<td><%= user.state %></td>
				</tr>
				<% end %>
			</table>
			</div>


		</div>

	<!-- EVENT DISCUSSION -->
		<div class="col-md-6 col-xs-12">
			<div class="col-md-12 col-md-offset-0">
				<h3>Discussion about this event</h3>
				<% if @event.comments.any? %>
				<div class="comments">
				<% @event.comments.each do |c| %>
				<p><%= c.user.first_name %> says: <i><%= c.comment  %></i></p>
				<p class="pull-right comment_time"><%= date_for_display(c.created_at) %></p>
				<br>
				<hr>
				<% end %>
					
				</div>
				<% end %>
				<%= form_for(:comment, :url=>{:controller => 'comments', :action => 'create'}) do |f|   %>
				<div class="form-group">
					<%= f.label :comment, 'Add your comment', class:"form-label"  %>
					<%= f.hidden_field :user_id, :value=> session[:user_id]  %>
					<%= f.hidden_field :event_id, :value => @event.id  %>
					<%= f.text_area :comment, class: "form-control"  %>
					<%= f.submit :Comment, class: "btn btn-primary pull-right"  %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
	

</div>